/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type PerfectMindSSOAPI interface {

	/*
		GetPerfectMindContact Get PerfectMind Contact IDs

		Retrieves PerfectMind contact IDs associated with the user's email address. Uses the LoginRadius access token to look up the user and match them against PerfectMind contacts using email and birth date.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetPerfectMindContactRequest
	*/
	GetPerfectMindContact(ctx context.Context) ApiGetPerfectMindContactRequest

	// GetPerfectMindContactExecute executes the request
	//  @return PerfectMindContactResponse
	GetPerfectMindContactExecute(r ApiGetPerfectMindContactRequest) (*PerfectMindContactResponse, *http.Response, error)

	/*
		GetPerfectMindSession Generate PerfectMind Login Session

		Generates a PerfectMind login session using the provided LoginRadius access token. Returns a session ID and URL that can be used to authenticate the user into the PerfectMind platform.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetPerfectMindSessionRequest
	*/
	GetPerfectMindSession(ctx context.Context) ApiGetPerfectMindSessionRequest

	// GetPerfectMindSessionExecute executes the request
	//  @return PerfectMindSessionResponse
	GetPerfectMindSessionExecute(r ApiGetPerfectMindSessionRequest) (*PerfectMindSessionResponse, *http.Response, error)
}

// PerfectMindSSOAPIService PerfectMindSSOAPI service
type PerfectMindSSOAPIService service

type ApiGetPerfectMindContactRequest struct {
	ctx                 context.Context
	ApiService          PerfectMindSSOAPI
	accessToken         *string
	perfectmindsitename *string
	birthdate           *string
	perfectScanID       *string
}

// Access Token of the User
func (r ApiGetPerfectMindContactRequest) AccessToken(accessToken string) ApiGetPerfectMindContactRequest {
	r.accessToken = &accessToken
	return r
}

// PerfectMind site name identifier
func (r ApiGetPerfectMindContactRequest) Perfectmindsitename(perfectmindsitename string) ApiGetPerfectMindContactRequest {
	r.perfectmindsitename = &perfectmindsitename
	return r
}

// User&#39;s birth date for PerfectMind contact lookup
func (r ApiGetPerfectMindContactRequest) Birthdate(birthdate string) ApiGetPerfectMindContactRequest {
	r.birthdate = &birthdate
	return r
}

// PerfectMind scan ID for contact lookup
func (r ApiGetPerfectMindContactRequest) PerfectScanID(perfectScanID string) ApiGetPerfectMindContactRequest {
	r.perfectScanID = &perfectScanID
	return r
}

func (r ApiGetPerfectMindContactRequest) Execute() (*PerfectMindContactResponse, *http.Response, error) {
	return r.ApiService.GetPerfectMindContactExecute(r)
}

/*
GetPerfectMindContact Get PerfectMind Contact IDs

Retrieves PerfectMind contact IDs associated with the user's email address. Uses the LoginRadius access token to look up the user and match them against PerfectMind contacts using email and birth date.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetPerfectMindContactRequest
*/
func (a *PerfectMindSSOAPIService) GetPerfectMindContact(ctx context.Context) ApiGetPerfectMindContactRequest {
	return ApiGetPerfectMindContactRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PerfectMindContactResponse
func (a *PerfectMindSSOAPIService) GetPerfectMindContactExecute(r ApiGetPerfectMindContactRequest) (*PerfectMindContactResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PerfectMindContactResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PerfectMindSSOAPIService.GetPerfectMindContact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/perfectmind/contact"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessToken == nil {
		return localVarReturnValue, nil, reportError("accessToken is required and must be specified")
	}
	if r.perfectmindsitename == nil {
		return localVarReturnValue, nil, reportError("perfectmindsitename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "perfectmindsitename", r.perfectmindsitename, "form", "")
	if r.birthdate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "birthdate", r.birthdate, "form", "")
	}
	if r.perfectScanID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perfectScanID", r.perfectScanID, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPerfectMindSessionRequest struct {
	ctx                 context.Context
	ApiService          PerfectMindSSOAPI
	accessToken         *string
	perfectmindsitename *string
}

// Access Token of the User
func (r ApiGetPerfectMindSessionRequest) AccessToken(accessToken string) ApiGetPerfectMindSessionRequest {
	r.accessToken = &accessToken
	return r
}

// PerfectMind site name identifier
func (r ApiGetPerfectMindSessionRequest) Perfectmindsitename(perfectmindsitename string) ApiGetPerfectMindSessionRequest {
	r.perfectmindsitename = &perfectmindsitename
	return r
}

func (r ApiGetPerfectMindSessionRequest) Execute() (*PerfectMindSessionResponse, *http.Response, error) {
	return r.ApiService.GetPerfectMindSessionExecute(r)
}

/*
GetPerfectMindSession Generate PerfectMind Login Session

Generates a PerfectMind login session using the provided LoginRadius access token. Returns a session ID and URL that can be used to authenticate the user into the PerfectMind platform.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetPerfectMindSessionRequest
*/
func (a *PerfectMindSSOAPIService) GetPerfectMindSession(ctx context.Context) ApiGetPerfectMindSessionRequest {
	return ApiGetPerfectMindSessionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PerfectMindSessionResponse
func (a *PerfectMindSSOAPIService) GetPerfectMindSessionExecute(r ApiGetPerfectMindSessionRequest) (*PerfectMindSessionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PerfectMindSessionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PerfectMindSSOAPIService.GetPerfectMindSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/perfectmind/session"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessToken == nil {
		return localVarReturnValue, nil, reportError("accessToken is required and must be specified")
	}
	if r.perfectmindsitename == nil {
		return localVarReturnValue, nil, reportError("perfectmindsitename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "perfectmindsitename", r.perfectmindsitename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
