/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type MultipurposeTokensAPI interface {

	/*
		ForgotPasswordTokenAndEmail Retrieve Forgot Password Token

		Generates a Forgot Password Token for the User and optionally sends an Email with the token.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiForgotPasswordTokenAndEmailRequest
	*/
	ForgotPasswordTokenAndEmail(ctx context.Context) ApiForgotPasswordTokenAndEmailRequest

	// ForgotPasswordTokenAndEmailExecute executes the request
	//  @return ForgotPasswordTokenModel
	ForgotPasswordTokenAndEmailExecute(r ApiForgotPasswordTokenAndEmailRequest) (*ForgotPasswordTokenModel, *http.Response, error)

	/*
		GetVerificationToken Retrieve Email Verification Token

		Retrieves an Email Verification Token for a specified Email. Optionally sends the verification Email to the User when sendemail is set to true.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetVerificationTokenRequest
	*/
	GetVerificationToken(ctx context.Context) ApiGetVerificationTokenRequest

	// GetVerificationTokenExecute executes the request
	//  @return VerificationLinkResponse
	GetVerificationTokenExecute(r ApiGetVerificationTokenRequest) (*VerificationLinkResponse, *http.Response, error)

	/*
		MultipurposeEmailTokenAPI Retrieve Multipurpose Email Token

		Retrieves a multi-purpose Email token for verification, Password reset, and other Email-related actions.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param tokentype Token purpose: `emailverification`, `forgotpin`, `addemail`, `deleteuser`, `onetouchlogin`, or `autologin`.
		@return ApiMultipurposeEmailTokenAPIRequest
	*/
	MultipurposeEmailTokenAPI(ctx context.Context, tokentype string) ApiMultipurposeEmailTokenAPIRequest

	// MultipurposeEmailTokenAPIExecute executes the request
	//  @return GenerateTokenResponse
	MultipurposeEmailTokenAPIExecute(r ApiMultipurposeEmailTokenAPIRequest) (*GenerateTokenResponse, *http.Response, error)

	/*
		MultipurposeSmsOtpAPI Multipurpose SMS OTP

		Generates an OTP for the User, applicable for adding a Phone, Phone ID verification, and other SMS-related actions.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param smsotptype OTP purpose: `addphone`, `phoneidverification`, `forgotpassword`, `forgotpin`, `onetouchlogin`, `smartlogin`, `passwordlesslogin`, or `deleteuser`.
		@return ApiMultipurposeSmsOtpAPIRequest
	*/
	MultipurposeSmsOtpAPI(ctx context.Context, smsotptype string) ApiMultipurposeSmsOtpAPIRequest

	// MultipurposeSmsOtpAPIExecute executes the request
	//  @return GenerateTokenResponse
	MultipurposeSmsOtpAPIExecute(r ApiMultipurposeSmsOtpAPIRequest) (*GenerateTokenResponse, *http.Response, error)
}

// MultipurposeTokensAPIService MultipurposeTokensAPI service
type MultipurposeTokensAPIService service

type ApiForgotPasswordTokenAndEmailRequest struct {
	ctx                                context.Context
	ApiService                         MultipurposeTokensAPI
	forgotPasswordTokenAndEmailRequest *ForgotPasswordTokenAndEmailRequest
	sendemail                          *string
	resetpasswordurl                   *string
	emailtemplate                      *string
	xPreventWebhook                    *bool
	preventWebhook                     *bool
}

func (r ApiForgotPasswordTokenAndEmailRequest) ForgotPasswordTokenAndEmailRequest(forgotPasswordTokenAndEmailRequest ForgotPasswordTokenAndEmailRequest) ApiForgotPasswordTokenAndEmailRequest {
	r.forgotPasswordTokenAndEmailRequest = &forgotPasswordTokenAndEmailRequest
	return r
}

// Indicates whether to send an Email with the forgot Password token.
func (r ApiForgotPasswordTokenAndEmailRequest) Sendemail(sendemail string) ApiForgotPasswordTokenAndEmailRequest {
	r.sendemail = &sendemail
	return r
}

// Callback URL for the Password Reset link in the Email.
func (r ApiForgotPasswordTokenAndEmailRequest) Resetpasswordurl(resetpasswordurl string) ApiForgotPasswordTokenAndEmailRequest {
	r.resetpasswordurl = &resetpasswordurl
	return r
}

// Name of the Email template to use for this notification.
func (r ApiForgotPasswordTokenAndEmailRequest) Emailtemplate(emailtemplate string) ApiForgotPasswordTokenAndEmailRequest {
	r.emailtemplate = &emailtemplate
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiForgotPasswordTokenAndEmailRequest) XPreventWebhook(xPreventWebhook bool) ApiForgotPasswordTokenAndEmailRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiForgotPasswordTokenAndEmailRequest) PreventWebhook(preventWebhook bool) ApiForgotPasswordTokenAndEmailRequest {
	r.preventWebhook = &preventWebhook
	return r
}

func (r ApiForgotPasswordTokenAndEmailRequest) Execute() (*ForgotPasswordTokenModel, *http.Response, error) {
	return r.ApiService.ForgotPasswordTokenAndEmailExecute(r)
}

/*
ForgotPasswordTokenAndEmail Retrieve Forgot Password Token

Generates a Forgot Password Token for the User and optionally sends an Email with the token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiForgotPasswordTokenAndEmailRequest
*/
func (a *MultipurposeTokensAPIService) ForgotPasswordTokenAndEmail(ctx context.Context) ApiForgotPasswordTokenAndEmailRequest {
	return ApiForgotPasswordTokenAndEmailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ForgotPasswordTokenModel
func (a *MultipurposeTokensAPIService) ForgotPasswordTokenAndEmailExecute(r ApiForgotPasswordTokenAndEmailRequest) (*ForgotPasswordTokenModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ForgotPasswordTokenModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultipurposeTokensAPIService.ForgotPasswordTokenAndEmail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/manage/account/forgot/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.forgotPasswordTokenAndEmailRequest == nil {
		return localVarReturnValue, nil, reportError("forgotPasswordTokenAndEmailRequest is required and must be specified")
	}

	if r.sendemail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sendemail", r.sendemail, "form", "")
	}
	if r.resetpasswordurl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resetpasswordurl", r.resetpasswordurl, "form", "")
	}
	if r.emailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailtemplate", r.emailtemplate, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.forgotPasswordTokenAndEmailRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Digest"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["digest"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XRequestExpiresTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Request-Expires"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiSecret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientSecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_secret", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apisecret", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVerificationTokenRequest struct {
	ctx             context.Context
	ApiService      MultipurposeTokensAPI
	vtype           *string
	email           *string
	expiresIn       *string
	sendemail       *string
	verificationurl *string
	emailtemplate   *string
}

// The type of verification. Currently, only \&quot;Email\&quot; is supported.
func (r ApiGetVerificationTokenRequest) Vtype(vtype string) ApiGetVerificationTokenRequest {
	r.vtype = &vtype
	return r
}

// Email address of the associated Account.
func (r ApiGetVerificationTokenRequest) Email(email string) ApiGetVerificationTokenRequest {
	r.email = &email
	return r
}

func (r ApiGetVerificationTokenRequest) ExpiresIn(expiresIn string) ApiGetVerificationTokenRequest {
	r.expiresIn = &expiresIn
	return r
}

// Indicates whether to send an Email with the forgot Password token.
func (r ApiGetVerificationTokenRequest) Sendemail(sendemail string) ApiGetVerificationTokenRequest {
	r.sendemail = &sendemail
	return r
}

// Verification URL for the User which will be included in the Email template..
func (r ApiGetVerificationTokenRequest) Verificationurl(verificationurl string) ApiGetVerificationTokenRequest {
	r.verificationurl = &verificationurl
	return r
}

// Name of the Email template to use for this notification.
func (r ApiGetVerificationTokenRequest) Emailtemplate(emailtemplate string) ApiGetVerificationTokenRequest {
	r.emailtemplate = &emailtemplate
	return r
}

func (r ApiGetVerificationTokenRequest) Execute() (*VerificationLinkResponse, *http.Response, error) {
	return r.ApiService.GetVerificationTokenExecute(r)
}

/*
GetVerificationToken Retrieve Email Verification Token

Retrieves an Email Verification Token for a specified Email. Optionally sends the verification Email to the User when sendemail is set to true.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetVerificationTokenRequest
*/
func (a *MultipurposeTokensAPIService) GetVerificationToken(ctx context.Context) ApiGetVerificationTokenRequest {
	return ApiGetVerificationTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VerificationLinkResponse
func (a *MultipurposeTokensAPIService) GetVerificationTokenExecute(r ApiGetVerificationTokenRequest) (*VerificationLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VerificationLinkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultipurposeTokensAPIService.GetVerificationToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/manage/account/vtoken"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vtype == nil {
		return localVarReturnValue, nil, reportError("vtype is required and must be specified")
	}

	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "vtype", r.vtype, "form", "")
	if r.expiresIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expires_in", r.expiresIn, "form", "")
	}
	if r.sendemail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sendemail", r.sendemail, "form", "")
	}
	if r.verificationurl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verificationurl", r.verificationurl, "form", "")
	}
	if r.emailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailtemplate", r.emailtemplate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Digest"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["digest"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XRequestExpiresTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Request-Expires"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiSecret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientSecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_secret", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apisecret", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMultipurposeEmailTokenAPIRequest struct {
	ctx                              context.Context
	ApiService                       MultipurposeTokensAPI
	tokentype                        string
	multipurposeEmailTokenAPIRequest *MultipurposeEmailTokenAPIRequest
}

func (r ApiMultipurposeEmailTokenAPIRequest) MultipurposeEmailTokenAPIRequest(multipurposeEmailTokenAPIRequest MultipurposeEmailTokenAPIRequest) ApiMultipurposeEmailTokenAPIRequest {
	r.multipurposeEmailTokenAPIRequest = &multipurposeEmailTokenAPIRequest
	return r
}

func (r ApiMultipurposeEmailTokenAPIRequest) Execute() (*GenerateTokenResponse, *http.Response, error) {
	return r.ApiService.MultipurposeEmailTokenAPIExecute(r)
}

/*
MultipurposeEmailTokenAPI Retrieve Multipurpose Email Token

Retrieves a multi-purpose Email token for verification, Password reset, and other Email-related actions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokentype Token purpose: `emailverification`, `forgotpin`, `addemail`, `deleteuser`, `onetouchlogin`, or `autologin`.
	@return ApiMultipurposeEmailTokenAPIRequest
*/
func (a *MultipurposeTokensAPIService) MultipurposeEmailTokenAPI(ctx context.Context, tokentype string) ApiMultipurposeEmailTokenAPIRequest {
	return ApiMultipurposeEmailTokenAPIRequest{
		ApiService: a,
		ctx:        ctx,
		tokentype:  tokentype,
	}
}

// Execute executes the request
//
//	@return GenerateTokenResponse
func (a *MultipurposeTokensAPIService) MultipurposeEmailTokenAPIExecute(r ApiMultipurposeEmailTokenAPIRequest) (*GenerateTokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GenerateTokenResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultipurposeTokensAPIService.MultipurposeEmailTokenAPI")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/manage/account/emailtoken/{tokentype}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokentype"+"}", url.PathEscape(parameterValueToString(r.tokentype, "tokentype")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.multipurposeEmailTokenAPIRequest == nil {
		return localVarReturnValue, nil, reportError("multipurposeEmailTokenAPIRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.multipurposeEmailTokenAPIRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Digest"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["digest"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XRequestExpiresTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Request-Expires"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiSecret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientSecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_secret", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apisecret", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMultipurposeSmsOtpAPIRequest struct {
	ctx                          context.Context
	ApiService                   MultipurposeTokensAPI
	smsotptype                   string
	multipurposeSmsOtpAPIRequest *MultipurposeSmsOtpAPIRequest
}

func (r ApiMultipurposeSmsOtpAPIRequest) MultipurposeSmsOtpAPIRequest(multipurposeSmsOtpAPIRequest MultipurposeSmsOtpAPIRequest) ApiMultipurposeSmsOtpAPIRequest {
	r.multipurposeSmsOtpAPIRequest = &multipurposeSmsOtpAPIRequest
	return r
}

func (r ApiMultipurposeSmsOtpAPIRequest) Execute() (*GenerateTokenResponse, *http.Response, error) {
	return r.ApiService.MultipurposeSmsOtpAPIExecute(r)
}

/*
MultipurposeSmsOtpAPI Multipurpose SMS OTP

Generates an OTP for the User, applicable for adding a Phone, Phone ID verification, and other SMS-related actions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param smsotptype OTP purpose: `addphone`, `phoneidverification`, `forgotpassword`, `forgotpin`, `onetouchlogin`, `smartlogin`, `passwordlesslogin`, or `deleteuser`.
	@return ApiMultipurposeSmsOtpAPIRequest
*/
func (a *MultipurposeTokensAPIService) MultipurposeSmsOtpAPI(ctx context.Context, smsotptype string) ApiMultipurposeSmsOtpAPIRequest {
	return ApiMultipurposeSmsOtpAPIRequest{
		ApiService: a,
		ctx:        ctx,
		smsotptype: smsotptype,
	}
}

// Execute executes the request
//
//	@return GenerateTokenResponse
func (a *MultipurposeTokensAPIService) MultipurposeSmsOtpAPIExecute(r ApiMultipurposeSmsOtpAPIRequest) (*GenerateTokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GenerateTokenResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultipurposeTokensAPIService.MultipurposeSmsOtpAPI")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/manage/account/smsotp/{smsotptype}"
	localVarPath = strings.Replace(localVarPath, "{"+"smsotptype"+"}", url.PathEscape(parameterValueToString(r.smsotptype, "smsotptype")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.multipurposeSmsOtpAPIRequest == nil {
		return localVarReturnValue, nil, reportError("multipurposeSmsOtpAPIRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.multipurposeSmsOtpAPIRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Digest"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["digest"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XRequestExpiresTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Request-Expires"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiSecret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientSecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_secret", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APISecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apisecret", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
