/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CustomObjectAPI interface {

	/*
		CreateCustomObjectByToken Create Custom Object

		Creates a Custom Object associated with the authenticated User using an Access Token.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiCreateCustomObjectByTokenRequest
	*/
	CreateCustomObjectByToken(ctx context.Context) ApiCreateCustomObjectByTokenRequest

	// CreateCustomObjectByTokenExecute executes the request
	//  @return CustomObjectResponseModel
	CreateCustomObjectByTokenExecute(r ApiCreateCustomObjectByTokenRequest) (*CustomObjectResponseModel, *http.Response, error)

	/*
		DeleteCustomObjectByTokenAndRecordId Delete Custom Object by ID

		Deletes the Custom Object associated with the specified User using an Access Token and record ID.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param objectrecordid Unique identifier for the Custom Object record. The ID is used to target a specific Custom Object.
		@return ApiDeleteCustomObjectByTokenAndRecordIdRequest
	*/
	DeleteCustomObjectByTokenAndRecordId(ctx context.Context, objectrecordid string) ApiDeleteCustomObjectByTokenAndRecordIdRequest

	// DeleteCustomObjectByTokenAndRecordIdExecute executes the request
	//  @return IsDeleted
	DeleteCustomObjectByTokenAndRecordIdExecute(r ApiDeleteCustomObjectByTokenAndRecordIdRequest) (*IsDeleted, *http.Response, error)

	/*
		GetCustomObjectByToken Retrieve Custom Objects

		Retrieves Custom Objects associated with the authenticated User using an Access Token.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetCustomObjectByTokenRequest
	*/
	GetCustomObjectByToken(ctx context.Context) ApiGetCustomObjectByTokenRequest

	// GetCustomObjectByTokenExecute executes the request
	//  @return CustomObjectsResponseModel
	GetCustomObjectByTokenExecute(r ApiGetCustomObjectByTokenRequest) (*CustomObjectsResponseModel, *http.Response, error)

	/*
		GetCustomObjectByTokenAndRecordId Retrieve Custom Object by ID

		Retrieves the Custom Object associated with the specified User using an Access Token and record ID.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param objectrecordid Unique identifier for the Custom Object record. The ID is used to target a specific Custom Object.
		@return ApiGetCustomObjectByTokenAndRecordIdRequest
	*/
	GetCustomObjectByTokenAndRecordId(ctx context.Context, objectrecordid string) ApiGetCustomObjectByTokenAndRecordIdRequest

	// GetCustomObjectByTokenAndRecordIdExecute executes the request
	//  @return CustomObjectResponseModel
	GetCustomObjectByTokenAndRecordIdExecute(r ApiGetCustomObjectByTokenAndRecordIdRequest) (*CustomObjectResponseModel, *http.Response, error)

	/*
		UpdateCustomObjectByTokenAndRecordId Update Custom Object by ID

		Updates a Custom Object associated with the authenticated User using an Access Token and record ID.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param objectrecordid Unique identifier for the Custom Object record. The ID is used to target a specific Custom Object.
		@return ApiUpdateCustomObjectByTokenAndRecordIdRequest
	*/
	UpdateCustomObjectByTokenAndRecordId(ctx context.Context, objectrecordid string) ApiUpdateCustomObjectByTokenAndRecordIdRequest

	// UpdateCustomObjectByTokenAndRecordIdExecute executes the request
	//  @return CustomObjectResponseModel
	UpdateCustomObjectByTokenAndRecordIdExecute(r ApiUpdateCustomObjectByTokenAndRecordIdRequest) (*CustomObjectResponseModel, *http.Response, error)
}

// CustomObjectAPIService CustomObjectAPI service
type CustomObjectAPIService service

type ApiCreateCustomObjectByTokenRequest struct {
	ctx             context.Context
	ApiService      CustomObjectAPI
	requestBody     *map[string]interface{}
	customobjectid  *string
	objectname      *string
	accessToken     *string
	preventWebhook  *bool
	xPreventWebhook *bool
}

func (r ApiCreateCustomObjectByTokenRequest) RequestBody(requestBody map[string]interface{}) ApiCreateCustomObjectByTokenRequest {
	r.requestBody = &requestBody
	return r
}

// Unique identifier for the Custom Object record
func (r ApiCreateCustomObjectByTokenRequest) Customobjectid(customobjectid string) ApiCreateCustomObjectByTokenRequest {
	r.customobjectid = &customobjectid
	return r
}

// Name of the Custom Object to be used in the request. The name should match the Custom Object configured in your LoginRadius account.
func (r ApiCreateCustomObjectByTokenRequest) Objectname(objectname string) ApiCreateCustomObjectByTokenRequest {
	r.objectname = &objectname
	return r
}

// Access Token of the User
func (r ApiCreateCustomObjectByTokenRequest) AccessToken(accessToken string) ApiCreateCustomObjectByTokenRequest {
	r.accessToken = &accessToken
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiCreateCustomObjectByTokenRequest) PreventWebhook(preventWebhook bool) ApiCreateCustomObjectByTokenRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiCreateCustomObjectByTokenRequest) XPreventWebhook(xPreventWebhook bool) ApiCreateCustomObjectByTokenRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

func (r ApiCreateCustomObjectByTokenRequest) Execute() (*CustomObjectResponseModel, *http.Response, error) {
	return r.ApiService.CreateCustomObjectByTokenExecute(r)
}

/*
CreateCustomObjectByToken Create Custom Object

Creates a Custom Object associated with the authenticated User using an Access Token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateCustomObjectByTokenRequest
*/
func (a *CustomObjectAPIService) CreateCustomObjectByToken(ctx context.Context) ApiCreateCustomObjectByTokenRequest {
	return ApiCreateCustomObjectByTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CustomObjectResponseModel
func (a *CustomObjectAPIService) CreateCustomObjectByTokenExecute(r ApiCreateCustomObjectByTokenRequest) (*CustomObjectResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomObjectResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectAPIService.CreateCustomObjectByToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/customobject"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.customobjectid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customobjectid", r.customobjectid, "form", "")
	}
	if r.objectname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectname", r.objectname, "form", "")
	}
	if r.accessToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.requestBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCustomObjectByTokenAndRecordIdRequest struct {
	ctx             context.Context
	ApiService      CustomObjectAPI
	objectrecordid  string
	accessToken     *string
	preventWebhook  *bool
	xPreventWebhook *bool
	objectname      *string
	customobjectid  *string
}

// Access Token of the User
func (r ApiDeleteCustomObjectByTokenAndRecordIdRequest) AccessToken(accessToken string) ApiDeleteCustomObjectByTokenAndRecordIdRequest {
	r.accessToken = &accessToken
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiDeleteCustomObjectByTokenAndRecordIdRequest) PreventWebhook(preventWebhook bool) ApiDeleteCustomObjectByTokenAndRecordIdRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiDeleteCustomObjectByTokenAndRecordIdRequest) XPreventWebhook(xPreventWebhook bool) ApiDeleteCustomObjectByTokenAndRecordIdRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// Name of the Custom Object to be used in the request. The name should match the Custom Object configured in your LoginRadius account.
func (r ApiDeleteCustomObjectByTokenAndRecordIdRequest) Objectname(objectname string) ApiDeleteCustomObjectByTokenAndRecordIdRequest {
	r.objectname = &objectname
	return r
}

// Unique identifier for the Custom Object record
func (r ApiDeleteCustomObjectByTokenAndRecordIdRequest) Customobjectid(customobjectid string) ApiDeleteCustomObjectByTokenAndRecordIdRequest {
	r.customobjectid = &customobjectid
	return r
}

func (r ApiDeleteCustomObjectByTokenAndRecordIdRequest) Execute() (*IsDeleted, *http.Response, error) {
	return r.ApiService.DeleteCustomObjectByTokenAndRecordIdExecute(r)
}

/*
DeleteCustomObjectByTokenAndRecordId Delete Custom Object by ID

Deletes the Custom Object associated with the specified User using an Access Token and record ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectrecordid Unique identifier for the Custom Object record. The ID is used to target a specific Custom Object.
	@return ApiDeleteCustomObjectByTokenAndRecordIdRequest
*/
func (a *CustomObjectAPIService) DeleteCustomObjectByTokenAndRecordId(ctx context.Context, objectrecordid string) ApiDeleteCustomObjectByTokenAndRecordIdRequest {
	return ApiDeleteCustomObjectByTokenAndRecordIdRequest{
		ApiService:     a,
		ctx:            ctx,
		objectrecordid: objectrecordid,
	}
}

// Execute executes the request
//
//	@return IsDeleted
func (a *CustomObjectAPIService) DeleteCustomObjectByTokenAndRecordIdExecute(r ApiDeleteCustomObjectByTokenAndRecordIdRequest) (*IsDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IsDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectAPIService.DeleteCustomObjectByTokenAndRecordId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/customobject/{objectrecordid}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectrecordid"+"}", url.PathEscape(parameterValueToString(r.objectrecordid, "objectrecordid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accessToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.objectname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectname", r.objectname, "form", "")
	}
	if r.customobjectid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customobjectid", r.customobjectid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCustomObjectByTokenRequest struct {
	ctx            context.Context
	ApiService     CustomObjectAPI
	customobjectid *string
	objectname     *string
	accessToken    *string
}

// Unique identifier for the Custom Object record
func (r ApiGetCustomObjectByTokenRequest) Customobjectid(customobjectid string) ApiGetCustomObjectByTokenRequest {
	r.customobjectid = &customobjectid
	return r
}

// Name of the Custom Object to be used in the request. The name should match the Custom Object configured in your LoginRadius account.
func (r ApiGetCustomObjectByTokenRequest) Objectname(objectname string) ApiGetCustomObjectByTokenRequest {
	r.objectname = &objectname
	return r
}

// Access Token of the User
func (r ApiGetCustomObjectByTokenRequest) AccessToken(accessToken string) ApiGetCustomObjectByTokenRequest {
	r.accessToken = &accessToken
	return r
}

func (r ApiGetCustomObjectByTokenRequest) Execute() (*CustomObjectsResponseModel, *http.Response, error) {
	return r.ApiService.GetCustomObjectByTokenExecute(r)
}

/*
GetCustomObjectByToken Retrieve Custom Objects

Retrieves Custom Objects associated with the authenticated User using an Access Token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCustomObjectByTokenRequest
*/
func (a *CustomObjectAPIService) GetCustomObjectByToken(ctx context.Context) ApiGetCustomObjectByTokenRequest {
	return ApiGetCustomObjectByTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CustomObjectsResponseModel
func (a *CustomObjectAPIService) GetCustomObjectByTokenExecute(r ApiGetCustomObjectByTokenRequest) (*CustomObjectsResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomObjectsResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectAPIService.GetCustomObjectByToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/customobject"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.customobjectid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customobjectid", r.customobjectid, "form", "")
	}
	if r.objectname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectname", r.objectname, "form", "")
	}
	if r.accessToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCustomObjectByTokenAndRecordIdRequest struct {
	ctx            context.Context
	ApiService     CustomObjectAPI
	objectrecordid string
	accessToken    *string
	objectname     *string
	customobjectid *string
}

// Access Token of the User
func (r ApiGetCustomObjectByTokenAndRecordIdRequest) AccessToken(accessToken string) ApiGetCustomObjectByTokenAndRecordIdRequest {
	r.accessToken = &accessToken
	return r
}

// Name of the Custom Object to be used in the request. The name should match the Custom Object configured in your LoginRadius account.
func (r ApiGetCustomObjectByTokenAndRecordIdRequest) Objectname(objectname string) ApiGetCustomObjectByTokenAndRecordIdRequest {
	r.objectname = &objectname
	return r
}

// Unique identifier for the Custom Object record
func (r ApiGetCustomObjectByTokenAndRecordIdRequest) Customobjectid(customobjectid string) ApiGetCustomObjectByTokenAndRecordIdRequest {
	r.customobjectid = &customobjectid
	return r
}

func (r ApiGetCustomObjectByTokenAndRecordIdRequest) Execute() (*CustomObjectResponseModel, *http.Response, error) {
	return r.ApiService.GetCustomObjectByTokenAndRecordIdExecute(r)
}

/*
GetCustomObjectByTokenAndRecordId Retrieve Custom Object by ID

Retrieves the Custom Object associated with the specified User using an Access Token and record ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectrecordid Unique identifier for the Custom Object record. The ID is used to target a specific Custom Object.
	@return ApiGetCustomObjectByTokenAndRecordIdRequest
*/
func (a *CustomObjectAPIService) GetCustomObjectByTokenAndRecordId(ctx context.Context, objectrecordid string) ApiGetCustomObjectByTokenAndRecordIdRequest {
	return ApiGetCustomObjectByTokenAndRecordIdRequest{
		ApiService:     a,
		ctx:            ctx,
		objectrecordid: objectrecordid,
	}
}

// Execute executes the request
//
//	@return CustomObjectResponseModel
func (a *CustomObjectAPIService) GetCustomObjectByTokenAndRecordIdExecute(r ApiGetCustomObjectByTokenAndRecordIdRequest) (*CustomObjectResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomObjectResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectAPIService.GetCustomObjectByTokenAndRecordId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/customobject/{objectrecordid}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectrecordid"+"}", url.PathEscape(parameterValueToString(r.objectrecordid, "objectrecordid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accessToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	}
	if r.objectname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectname", r.objectname, "form", "")
	}
	if r.customobjectid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customobjectid", r.customobjectid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCustomObjectByTokenAndRecordIdRequest struct {
	ctx             context.Context
	ApiService      CustomObjectAPI
	objectrecordid  string
	updateType      *string
	requestBody     *map[string]interface{}
	objectname      *string
	accessToken     *string
	preventWebhook  *bool
	xPreventWebhook *bool
	customobjectid  *string
}

// The type of update to be performed on the Custom Object. This parameter is used to specify whether the update should be a full update or a partial update.
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) UpdateType(updateType string) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.updateType = &updateType
	return r
}

// JSON payload representing the Custom Object to be updated.
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) RequestBody(requestBody map[string]interface{}) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.requestBody = &requestBody
	return r
}

// Name of the Custom Object to be used in the request. The name should match the Custom Object configured in your LoginRadius account.
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) Objectname(objectname string) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.objectname = &objectname
	return r
}

// Access Token of the User
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) AccessToken(accessToken string) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.accessToken = &accessToken
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) PreventWebhook(preventWebhook bool) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) XPreventWebhook(xPreventWebhook bool) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// Unique identifier for the Custom Object record
func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) Customobjectid(customobjectid string) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	r.customobjectid = &customobjectid
	return r
}

func (r ApiUpdateCustomObjectByTokenAndRecordIdRequest) Execute() (*CustomObjectResponseModel, *http.Response, error) {
	return r.ApiService.UpdateCustomObjectByTokenAndRecordIdExecute(r)
}

/*
UpdateCustomObjectByTokenAndRecordId Update Custom Object by ID

Updates a Custom Object associated with the authenticated User using an Access Token and record ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectrecordid Unique identifier for the Custom Object record. The ID is used to target a specific Custom Object.
	@return ApiUpdateCustomObjectByTokenAndRecordIdRequest
*/
func (a *CustomObjectAPIService) UpdateCustomObjectByTokenAndRecordId(ctx context.Context, objectrecordid string) ApiUpdateCustomObjectByTokenAndRecordIdRequest {
	return ApiUpdateCustomObjectByTokenAndRecordIdRequest{
		ApiService:     a,
		ctx:            ctx,
		objectrecordid: objectrecordid,
	}
}

// Execute executes the request
//
//	@return CustomObjectResponseModel
func (a *CustomObjectAPIService) UpdateCustomObjectByTokenAndRecordIdExecute(r ApiUpdateCustomObjectByTokenAndRecordIdRequest) (*CustomObjectResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomObjectResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectAPIService.UpdateCustomObjectByTokenAndRecordId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/customobject/{objectrecordid}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectrecordid"+"}", url.PathEscape(parameterValueToString(r.objectrecordid, "objectrecordid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateType == nil {
		return localVarReturnValue, nil, reportError("updateType is required and must be specified")
	}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.objectname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectname", r.objectname, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "updateType", r.updateType, "form", "")
	if r.accessToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.customobjectid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customobjectid", r.customobjectid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.requestBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
