/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type RegistrationAPI interface {

	/*
		BeginPasskeyRegistration Initiate Registration with Passkey

		Begins the registration process using a Passkey.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiBeginPasskeyRegistrationRequest
	*/
	BeginPasskeyRegistration(ctx context.Context) ApiBeginPasskeyRegistrationRequest

	// BeginPasskeyRegistrationExecute executes the request
	//  @return BeginPasskeyRegistration200Response
	BeginPasskeyRegistrationExecute(r ApiBeginPasskeyRegistrationRequest) (*BeginPasskeyRegistration200Response, *http.Response, error)

	/*
		FinishPasskeyRegistration Complete Registration with Passkey

		Completes the registration process using a Passkey.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiFinishPasskeyRegistrationRequest
	*/
	FinishPasskeyRegistration(ctx context.Context) ApiFinishPasskeyRegistrationRequest

	// FinishPasskeyRegistrationExecute executes the request
	//  @return RegistrationResponse
	FinishPasskeyRegistrationExecute(r ApiFinishPasskeyRegistrationRequest) (*RegistrationResponse, *http.Response, error)

	/*
		UserRegistrationByReCaptchaEmailPhoneUserName Registration by Email/Phone/Username via Captcha

		Registers a new User using Email, Phone, or Username with Captcha verification.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest
	*/
	UserRegistrationByReCaptchaEmailPhoneUserName(ctx context.Context) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest

	// UserRegistrationByReCaptchaEmailPhoneUserNameExecute executes the request
	//  @return RegistrationResponse
	UserRegistrationByReCaptchaEmailPhoneUserNameExecute(r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) (*RegistrationResponse, *http.Response, error)

	/*
		UserRegistrationBySottEmailPhoneUserName Registration by Email/Phone/Username via SOTT

		Registers a new User using Email, Phone, or Username via a Secure One Time Token (SOTT).

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiUserRegistrationBySottEmailPhoneUserNameRequest
	*/
	UserRegistrationBySottEmailPhoneUserName(ctx context.Context) ApiUserRegistrationBySottEmailPhoneUserNameRequest

	// UserRegistrationBySottEmailPhoneUserNameExecute executes the request
	//  @return RegistrationResponse
	UserRegistrationBySottEmailPhoneUserNameExecute(r ApiUserRegistrationBySottEmailPhoneUserNameRequest) (*RegistrationResponse, *http.Response, error)
}

// RegistrationAPIService RegistrationAPI service
type RegistrationAPIService service

type ApiBeginPasskeyRegistrationRequest struct {
	ctx        context.Context
	ApiService RegistrationAPI
	identifier *string
}

// Email of the User
func (r ApiBeginPasskeyRegistrationRequest) Identifier(identifier string) ApiBeginPasskeyRegistrationRequest {
	r.identifier = &identifier
	return r
}

func (r ApiBeginPasskeyRegistrationRequest) Execute() (*BeginPasskeyRegistration200Response, *http.Response, error) {
	return r.ApiService.BeginPasskeyRegistrationExecute(r)
}

/*
BeginPasskeyRegistration Initiate Registration with Passkey

Begins the registration process using a Passkey.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBeginPasskeyRegistrationRequest
*/
func (a *RegistrationAPIService) BeginPasskeyRegistration(ctx context.Context) ApiBeginPasskeyRegistrationRequest {
	return ApiBeginPasskeyRegistrationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BeginPasskeyRegistration200Response
func (a *RegistrationAPIService) BeginPasskeyRegistrationExecute(r ApiBeginPasskeyRegistrationRequest) (*BeginPasskeyRegistration200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BeginPasskeyRegistration200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistrationAPIService.BeginPasskeyRegistration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/register/passkey/begin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.identifier == nil {
		return localVarReturnValue, nil, reportError("identifier is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "identifier", r.identifier, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFinishPasskeyRegistrationRequest struct {
	ctx                   context.Context
	ApiService            RegistrationAPI
	passkeyRegisterFinish *PasskeyRegisterFinish
	verificationurl       *string
	emailtemplate         *string
	welcomeemailtemplate  *string
	fields                *string
	options               *string
	invitationToken       *string
	preventWebhook        *bool
	xPreventWebhook       *bool
}

func (r ApiFinishPasskeyRegistrationRequest) PasskeyRegisterFinish(passkeyRegisterFinish PasskeyRegisterFinish) ApiFinishPasskeyRegistrationRequest {
	r.passkeyRegisterFinish = &passkeyRegisterFinish
	return r
}

// Verification URL for the User which will be included in the Email template..
func (r ApiFinishPasskeyRegistrationRequest) Verificationurl(verificationurl string) ApiFinishPasskeyRegistrationRequest {
	r.verificationurl = &verificationurl
	return r
}

// Name of the Email template to use for this notification.
func (r ApiFinishPasskeyRegistrationRequest) Emailtemplate(emailtemplate string) ApiFinishPasskeyRegistrationRequest {
	r.emailtemplate = &emailtemplate
	return r
}

// Welcome Email Template
func (r ApiFinishPasskeyRegistrationRequest) Welcomeemailtemplate(welcomeemailtemplate string) ApiFinishPasskeyRegistrationRequest {
	r.welcomeemailtemplate = &welcomeemailtemplate
	return r
}

// Comma-separated list of profile fields to include in the response.
func (r ApiFinishPasskeyRegistrationRequest) Fields(fields string) ApiFinishPasskeyRegistrationRequest {
	r.fields = &fields
	return r
}

// Options value will be passed when don&#39;t want to send the Email to the User for the verification, i.e. preventverificationemail
func (r ApiFinishPasskeyRegistrationRequest) Options(options string) ApiFinishPasskeyRegistrationRequest {
	r.options = &options
	return r
}

// Invitation token of an organization
func (r ApiFinishPasskeyRegistrationRequest) InvitationToken(invitationToken string) ApiFinishPasskeyRegistrationRequest {
	r.invitationToken = &invitationToken
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiFinishPasskeyRegistrationRequest) PreventWebhook(preventWebhook bool) ApiFinishPasskeyRegistrationRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiFinishPasskeyRegistrationRequest) XPreventWebhook(xPreventWebhook bool) ApiFinishPasskeyRegistrationRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

func (r ApiFinishPasskeyRegistrationRequest) Execute() (*RegistrationResponse, *http.Response, error) {
	return r.ApiService.FinishPasskeyRegistrationExecute(r)
}

/*
FinishPasskeyRegistration Complete Registration with Passkey

Completes the registration process using a Passkey.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFinishPasskeyRegistrationRequest
*/
func (a *RegistrationAPIService) FinishPasskeyRegistration(ctx context.Context) ApiFinishPasskeyRegistrationRequest {
	return ApiFinishPasskeyRegistrationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RegistrationResponse
func (a *RegistrationAPIService) FinishPasskeyRegistrationExecute(r ApiFinishPasskeyRegistrationRequest) (*RegistrationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RegistrationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistrationAPIService.FinishPasskeyRegistration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/register/passkey/finish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.passkeyRegisterFinish == nil {
		return localVarReturnValue, nil, reportError("passkeyRegisterFinish is required and must be specified")
	}

	if r.verificationurl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verificationurl", r.verificationurl, "form", "")
	}
	if r.emailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailtemplate", r.emailtemplate, "form", "")
	}
	if r.welcomeemailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "welcomeemailtemplate", r.welcomeemailtemplate, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.options != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "options", r.options, "form", "")
	}
	if r.invitationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invitation_token", r.invitationToken, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.passkeyRegisterFinish
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest struct {
	ctx                                                  context.Context
	ApiService                                           RegistrationAPI
	userRegistrationByReCaptchaEmailPhoneUserNameRequest *UserRegistrationByReCaptchaEmailPhoneUserNameRequest
	verificationurl                                      *string
	emailtemplate                                        *string
	smstemplate                                          *string
	welcomeemailtemplate                                 *string
	options                                              *string
	isvoiceotp                                           *bool
	gRecaptchaResponse                                   *string
	gRecaptchaResponse2                                  *string
	qqCaptchaTicket                                      *string
	qqCaptchaRandstr                                     *string
	hCaptchaResponse                                     *string
	preventWebhook                                       *bool
	xPreventWebhook                                      *bool
	fields                                               *string
	invitationToken                                      *string
}

func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) UserRegistrationByReCaptchaEmailPhoneUserNameRequest(userRegistrationByReCaptchaEmailPhoneUserNameRequest UserRegistrationByReCaptchaEmailPhoneUserNameRequest) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.userRegistrationByReCaptchaEmailPhoneUserNameRequest = &userRegistrationByReCaptchaEmailPhoneUserNameRequest
	return r
}

// Verification URL for the User which will be included in the Email template..
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Verificationurl(verificationurl string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.verificationurl = &verificationurl
	return r
}

// Name of the Email template to use for this notification.
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Emailtemplate(emailtemplate string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.emailtemplate = &emailtemplate
	return r
}

// SMS Template
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Smstemplate(smstemplate string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.smstemplate = &smstemplate
	return r
}

// Welcome Email Template
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Welcomeemailtemplate(welcomeemailtemplate string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.welcomeemailtemplate = &welcomeemailtemplate
	return r
}

// Options value will be passed when don&#39;t want to send the Email to the User for the verification, i.e. preventverificationemail
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Options(options string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.options = &options
	return r
}

// Boolean flag to enforce sending SMS content via Voice.
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Isvoiceotp(isvoiceotp bool) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.isvoiceotp = &isvoiceotp
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// QQ reCAPTCHA Response
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ reCAPTCHA Response
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

// hCaptcha Response
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) HCaptchaResponse(hCaptchaResponse string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) PreventWebhook(preventWebhook bool) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) XPreventWebhook(xPreventWebhook bool) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// Comma-separated list of profile fields to include in the response.
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Fields(fields string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.fields = &fields
	return r
}

// Invitation token of an organization
func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) InvitationToken(invitationToken string) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	r.invitationToken = &invitationToken
	return r
}

func (r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) Execute() (*RegistrationResponse, *http.Response, error) {
	return r.ApiService.UserRegistrationByReCaptchaEmailPhoneUserNameExecute(r)
}

/*
UserRegistrationByReCaptchaEmailPhoneUserName Registration by Email/Phone/Username via Captcha

Registers a new User using Email, Phone, or Username with Captcha verification.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest
*/
func (a *RegistrationAPIService) UserRegistrationByReCaptchaEmailPhoneUserName(ctx context.Context) ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest {
	return ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RegistrationResponse
func (a *RegistrationAPIService) UserRegistrationByReCaptchaEmailPhoneUserNameExecute(r ApiUserRegistrationByReCaptchaEmailPhoneUserNameRequest) (*RegistrationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RegistrationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistrationAPIService.UserRegistrationByReCaptchaEmailPhoneUserName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/register/captcha"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userRegistrationByReCaptchaEmailPhoneUserNameRequest == nil {
		return localVarReturnValue, nil, reportError("userRegistrationByReCaptchaEmailPhoneUserNameRequest is required and must be specified")
	}

	if r.verificationurl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verificationurl", r.verificationurl, "form", "")
	}
	if r.emailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailtemplate", r.emailtemplate, "form", "")
	}
	if r.smstemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "smstemplate", r.smstemplate, "form", "")
	}
	if r.welcomeemailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "welcomeemailtemplate", r.welcomeemailtemplate, "form", "")
	}
	if r.options != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "options", r.options, "form", "")
	}
	if r.isvoiceotp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isvoiceotp", r.isvoiceotp, "form", "")
	}
	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.invitationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invitation_token", r.invitationToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.userRegistrationByReCaptchaEmailPhoneUserNameRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserRegistrationBySottEmailPhoneUserNameRequest struct {
	ctx                  context.Context
	ApiService           RegistrationAPI
	profileRequestModel  *ProfileRequestModel
	emailtemplate        *string
	sott                 *string
	welcomeemailtemplate *string
	verificationurl      *string
	smstemplate          *string
	preventWebhook       *bool
	xPreventWebhook      *bool
	fields               *string
	xLoginRadiusSott     *string
	options              *string
	invitationToken      *string
	isvoiceotp           *bool
}

func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) ProfileRequestModel(profileRequestModel ProfileRequestModel) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.profileRequestModel = &profileRequestModel
	return r
}

// Name of the Email template to use for this notification.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Emailtemplate(emailtemplate string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.emailtemplate = &emailtemplate
	return r
}

// SOTT should be generated from the server side and passed here or in the X-LoginRadius-Sott header.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Sott(sott string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.sott = &sott
	return r
}

// Welcome Email Template
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Welcomeemailtemplate(welcomeemailtemplate string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.welcomeemailtemplate = &welcomeemailtemplate
	return r
}

// Verification URL for the User which will be included in the Email template..
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Verificationurl(verificationurl string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.verificationurl = &verificationurl
	return r
}

// SMS Template
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Smstemplate(smstemplate string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.smstemplate = &smstemplate
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) PreventWebhook(preventWebhook bool) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) XPreventWebhook(xPreventWebhook bool) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// Comma-separated list of profile fields to include in the response.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Fields(fields string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.fields = &fields
	return r
}

// SOTT should be generated from the server side and passed here or in sott query parameter.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) XLoginRadiusSott(xLoginRadiusSott string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.xLoginRadiusSott = &xLoginRadiusSott
	return r
}

// Options value will be passed when don&#39;t want to send the Email to the User for the verification, i.e. preventverificationemail
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Options(options string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.options = &options
	return r
}

// Invitation token of an organization
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) InvitationToken(invitationToken string) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.invitationToken = &invitationToken
	return r
}

// Boolean flag to enforce sending SMS content via Voice.
func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Isvoiceotp(isvoiceotp bool) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	r.isvoiceotp = &isvoiceotp
	return r
}

func (r ApiUserRegistrationBySottEmailPhoneUserNameRequest) Execute() (*RegistrationResponse, *http.Response, error) {
	return r.ApiService.UserRegistrationBySottEmailPhoneUserNameExecute(r)
}

/*
UserRegistrationBySottEmailPhoneUserName Registration by Email/Phone/Username via SOTT

Registers a new User using Email, Phone, or Username via a Secure One Time Token (SOTT).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUserRegistrationBySottEmailPhoneUserNameRequest
*/
func (a *RegistrationAPIService) UserRegistrationBySottEmailPhoneUserName(ctx context.Context) ApiUserRegistrationBySottEmailPhoneUserNameRequest {
	return ApiUserRegistrationBySottEmailPhoneUserNameRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RegistrationResponse
func (a *RegistrationAPIService) UserRegistrationBySottEmailPhoneUserNameExecute(r ApiUserRegistrationBySottEmailPhoneUserNameRequest) (*RegistrationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RegistrationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistrationAPIService.UserRegistrationBySottEmailPhoneUserName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/register"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.profileRequestModel == nil {
		return localVarReturnValue, nil, reportError("profileRequestModel is required and must be specified")
	}

	if r.emailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailtemplate", r.emailtemplate, "form", "")
	}
	if r.sott != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sott", r.sott, "form", "")
	}
	if r.welcomeemailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "welcomeemailtemplate", r.welcomeemailtemplate, "form", "")
	}
	if r.verificationurl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "verificationurl", r.verificationurl, "form", "")
	}
	if r.smstemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "smstemplate", r.smstemplate, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.options != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "options", r.options, "form", "")
	}
	if r.invitationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invitation_token", r.invitationToken, "form", "")
	}
	if r.isvoiceotp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isvoiceotp", r.isvoiceotp, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	if r.xLoginRadiusSott != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-LoginRadius-Sott", r.xLoginRadiusSott, "simple", "")
	}
	// body params
	localVarPostBody = r.profileRequestModel
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
