/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type BigCommerceSSOAPI interface {

	/*
		BigCommerceAuth BigCommerce OAuth Authorization

		Handles BigCommerce OAuth authorization callbacks. Accepts either an authorization code (for install flow) or a signed_payload (for load/uninstall callbacks). Returns an HTML page on success.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiBigCommerceAuthRequest
	*/
	BigCommerceAuth(ctx context.Context) ApiBigCommerceAuthRequest

	// BigCommerceAuthExecute executes the request
	//  @return string
	BigCommerceAuthExecute(r ApiBigCommerceAuthRequest) (string, *http.Response, error)

	/*
		GetBigCommerceLoginUrl Generate BigCommerce Login URL (GET)

		Generates a BigCommerce customer login URL using the provided LoginRadius access token. If the customer does not exist in BigCommerce, it creates one. Returns a login URL that can be used to authenticate the user into BigCommerce.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetBigCommerceLoginUrlRequest
	*/
	GetBigCommerceLoginUrl(ctx context.Context) ApiGetBigCommerceLoginUrlRequest

	// GetBigCommerceLoginUrlExecute executes the request
	//  @return BigCommerceLoginUrlResponse
	GetBigCommerceLoginUrlExecute(r ApiGetBigCommerceLoginUrlRequest) (*BigCommerceLoginUrlResponse, *http.Response, error)

	/*
		PostBigCommerceLoginUrl Generate BigCommerce Login URL (POST)

		Generates a BigCommerce customer login URL using the provided LoginRadius access token sent in the request body. If the customer does not exist in BigCommerce, it creates one. Returns a login URL that can be used to authenticate the user into BigCommerce.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostBigCommerceLoginUrlRequest
	*/
	PostBigCommerceLoginUrl(ctx context.Context) ApiPostBigCommerceLoginUrlRequest

	// PostBigCommerceLoginUrlExecute executes the request
	//  @return BigCommerceLoginUrlResponse
	PostBigCommerceLoginUrlExecute(r ApiPostBigCommerceLoginUrlRequest) (*BigCommerceLoginUrlResponse, *http.Response, error)

	/*
		ValidateBigCommercePassword Validate BigCommerce Customer Password

		Validates a BigCommerce customer's password by checking the provided email and password against the BigCommerce store's customer records.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiValidateBigCommercePasswordRequest
	*/
	ValidateBigCommercePassword(ctx context.Context) ApiValidateBigCommercePasswordRequest

	// ValidateBigCommercePasswordExecute executes the request
	//  @return BigCommerceValidatePasswordResponse
	ValidateBigCommercePasswordExecute(r ApiValidateBigCommercePasswordRequest) (*BigCommerceValidatePasswordResponse, *http.Response, error)
}

// BigCommerceSSOAPIService BigCommerceSSOAPI service
type BigCommerceSSOAPIService service

type ApiBigCommerceAuthRequest struct {
	ctx           context.Context
	ApiService    BigCommerceSSOAPI
	code          *string
	signedPayload *string
}

// BigCommerce OAuth authorization code
func (r ApiBigCommerceAuthRequest) Code(code string) ApiBigCommerceAuthRequest {
	r.code = &code
	return r
}

// BigCommerce signed payload for load/uninstall callbacks
func (r ApiBigCommerceAuthRequest) SignedPayload(signedPayload string) ApiBigCommerceAuthRequest {
	r.signedPayload = &signedPayload
	return r
}

func (r ApiBigCommerceAuthRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.BigCommerceAuthExecute(r)
}

/*
BigCommerceAuth BigCommerce OAuth Authorization

Handles BigCommerce OAuth authorization callbacks. Accepts either an authorization code (for install flow) or a signed_payload (for load/uninstall callbacks). Returns an HTML page on success.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBigCommerceAuthRequest
*/
func (a *BigCommerceSSOAPIService) BigCommerceAuth(ctx context.Context) ApiBigCommerceAuthRequest {
	return ApiBigCommerceAuthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *BigCommerceSSOAPIService) BigCommerceAuthExecute(r ApiBigCommerceAuthRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BigCommerceSSOAPIService.BigCommerceAuth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/bigcommerce/auth"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.signedPayload != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "signed_payload", r.signedPayload, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBigCommerceLoginUrlRequest struct {
	ctx         context.Context
	ApiService  BigCommerceSSOAPI
	accessToken *string
	store       *string
	password    *string
	returnUrl   *string
}

// Access Token of the User
func (r ApiGetBigCommerceLoginUrlRequest) AccessToken(accessToken string) ApiGetBigCommerceLoginUrlRequest {
	r.accessToken = &accessToken
	return r
}

// BigCommerce store hash identifier
func (r ApiGetBigCommerceLoginUrlRequest) Store(store string) ApiGetBigCommerceLoginUrlRequest {
	r.store = &store
	return r
}

// User&#39;s password
func (r ApiGetBigCommerceLoginUrlRequest) Password(password string) ApiGetBigCommerceLoginUrlRequest {
	r.password = &password
	return r
}

// URL to redirect the user to after login
func (r ApiGetBigCommerceLoginUrlRequest) ReturnUrl(returnUrl string) ApiGetBigCommerceLoginUrlRequest {
	r.returnUrl = &returnUrl
	return r
}

func (r ApiGetBigCommerceLoginUrlRequest) Execute() (*BigCommerceLoginUrlResponse, *http.Response, error) {
	return r.ApiService.GetBigCommerceLoginUrlExecute(r)
}

/*
GetBigCommerceLoginUrl Generate BigCommerce Login URL (GET)

Generates a BigCommerce customer login URL using the provided LoginRadius access token. If the customer does not exist in BigCommerce, it creates one. Returns a login URL that can be used to authenticate the user into BigCommerce.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetBigCommerceLoginUrlRequest
*/
func (a *BigCommerceSSOAPIService) GetBigCommerceLoginUrl(ctx context.Context) ApiGetBigCommerceLoginUrlRequest {
	return ApiGetBigCommerceLoginUrlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BigCommerceLoginUrlResponse
func (a *BigCommerceSSOAPIService) GetBigCommerceLoginUrlExecute(r ApiGetBigCommerceLoginUrlRequest) (*BigCommerceLoginUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BigCommerceLoginUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BigCommerceSSOAPIService.GetBigCommerceLoginUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/bigcommerce/api/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessToken == nil {
		return localVarReturnValue, nil, reportError("accessToken is required and must be specified")
	}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	if r.password != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "password", r.password, "form", "")
	}
	if r.returnUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_url", r.returnUrl, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostBigCommerceLoginUrlRequest struct {
	ctx                         context.Context
	ApiService                  BigCommerceSSOAPI
	store                       *string
	bigCommerceTokenPostRequest *BigCommerceTokenPostRequest
}

// BigCommerce store hash identifier
func (r ApiPostBigCommerceLoginUrlRequest) Store(store string) ApiPostBigCommerceLoginUrlRequest {
	r.store = &store
	return r
}

func (r ApiPostBigCommerceLoginUrlRequest) BigCommerceTokenPostRequest(bigCommerceTokenPostRequest BigCommerceTokenPostRequest) ApiPostBigCommerceLoginUrlRequest {
	r.bigCommerceTokenPostRequest = &bigCommerceTokenPostRequest
	return r
}

func (r ApiPostBigCommerceLoginUrlRequest) Execute() (*BigCommerceLoginUrlResponse, *http.Response, error) {
	return r.ApiService.PostBigCommerceLoginUrlExecute(r)
}

/*
PostBigCommerceLoginUrl Generate BigCommerce Login URL (POST)

Generates a BigCommerce customer login URL using the provided LoginRadius access token sent in the request body. If the customer does not exist in BigCommerce, it creates one. Returns a login URL that can be used to authenticate the user into BigCommerce.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostBigCommerceLoginUrlRequest
*/
func (a *BigCommerceSSOAPIService) PostBigCommerceLoginUrl(ctx context.Context) ApiPostBigCommerceLoginUrlRequest {
	return ApiPostBigCommerceLoginUrlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BigCommerceLoginUrlResponse
func (a *BigCommerceSSOAPIService) PostBigCommerceLoginUrlExecute(r ApiPostBigCommerceLoginUrlRequest) (*BigCommerceLoginUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BigCommerceLoginUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BigCommerceSSOAPIService.PostBigCommerceLoginUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/bigcommerce/api/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.bigCommerceTokenPostRequest == nil {
		return localVarReturnValue, nil, reportError("bigCommerceTokenPostRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bigCommerceTokenPostRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateBigCommercePasswordRequest struct {
	ctx                                context.Context
	ApiService                         BigCommerceSSOAPI
	store                              *string
	bigCommerceValidatePasswordRequest *BigCommerceValidatePasswordRequest
}

// BigCommerce store hash identifier
func (r ApiValidateBigCommercePasswordRequest) Store(store string) ApiValidateBigCommercePasswordRequest {
	r.store = &store
	return r
}

func (r ApiValidateBigCommercePasswordRequest) BigCommerceValidatePasswordRequest(bigCommerceValidatePasswordRequest BigCommerceValidatePasswordRequest) ApiValidateBigCommercePasswordRequest {
	r.bigCommerceValidatePasswordRequest = &bigCommerceValidatePasswordRequest
	return r
}

func (r ApiValidateBigCommercePasswordRequest) Execute() (*BigCommerceValidatePasswordResponse, *http.Response, error) {
	return r.ApiService.ValidateBigCommercePasswordExecute(r)
}

/*
ValidateBigCommercePassword Validate BigCommerce Customer Password

Validates a BigCommerce customer's password by checking the provided email and password against the BigCommerce store's customer records.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiValidateBigCommercePasswordRequest
*/
func (a *BigCommerceSSOAPIService) ValidateBigCommercePassword(ctx context.Context) ApiValidateBigCommercePasswordRequest {
	return ApiValidateBigCommercePasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BigCommerceValidatePasswordResponse
func (a *BigCommerceSSOAPIService) ValidateBigCommercePasswordExecute(r ApiValidateBigCommercePasswordRequest) (*BigCommerceValidatePasswordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BigCommerceValidatePasswordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BigCommerceSSOAPIService.ValidateBigCommercePassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/bigcommerce/api/validatepassword"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.bigCommerceValidatePasswordRequest == nil {
		return localVarReturnValue, nil, reportError("bigCommerceValidatePasswordRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bigCommerceValidatePasswordRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
