/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type PasswordAPI interface {

	/*
		ChangePassword Update Password

		Updates the Account Password using the current Password for verification.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiChangePasswordRequest
	*/
	ChangePassword(ctx context.Context) ApiChangePasswordRequest

	// ChangePasswordExecute executes the request
	//  @return IsPostedResponse
	ChangePasswordExecute(r ApiChangePasswordRequest) (*IsPostedResponse, *http.Response, error)

	/*
		ForgotPassword Forgot Password

		Initiates the Password recovery process using Username or Email.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiForgotPasswordRequest
	*/
	ForgotPassword(ctx context.Context) ApiForgotPasswordRequest

	// ForgotPasswordExecute executes the request
	//  @return IsPostedResponse
	ForgotPasswordExecute(r ApiForgotPasswordRequest) (*IsPostedResponse, *http.Response, error)

	/*
		RequestOTPForPasswordReset Retrieve Password reset OTP

		Requests an OTP for resetting the Password using the User's Phone number.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiRequestOTPForPasswordResetRequest
	*/
	RequestOTPForPasswordReset(ctx context.Context) ApiRequestOTPForPasswordResetRequest

	// RequestOTPForPasswordResetExecute executes the request
	//  @return SMSResponse
	RequestOTPForPasswordResetExecute(r ApiRequestOTPForPasswordResetRequest) (*SMSResponse, *http.Response, error)

	/*
		ResetPassword Reset Password with token and OTP

		Sets a new Password for the specified Account using a reset token and OTP.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiResetPasswordRequest
	*/
	ResetPassword(ctx context.Context) ApiResetPasswordRequest

	// ResetPasswordExecute executes the request
	//  @return ResetPasswordResponse
	ResetPasswordExecute(r ApiResetPasswordRequest) (*ResetPasswordResponse, *http.Response, error)

	/*
		ResetPasswordByResetToken Reset Password with token and OTP

		Sets a new Password for the specified Account using a reset token and OTP.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiResetPasswordByResetTokenRequest
	*/
	ResetPasswordByResetToken(ctx context.Context) ApiResetPasswordByResetTokenRequest

	// ResetPasswordByResetTokenExecute executes the request
	//  @return ResetPasswordResponse
	ResetPasswordByResetTokenExecute(r ApiResetPasswordByResetTokenRequest) (*ResetPasswordResponse, *http.Response, error)

	/*
		ResetPasswordSecurityAnswer Reset Password with security question

		Resets the Password using a security question and Email, Username, or Phone.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiResetPasswordSecurityAnswerRequest
	*/
	ResetPasswordSecurityAnswer(ctx context.Context) ApiResetPasswordSecurityAnswerRequest

	// ResetPasswordSecurityAnswerExecute executes the request
	//  @return ResetPasswordResponse
	ResetPasswordSecurityAnswerExecute(r ApiResetPasswordSecurityAnswerRequest) (*ResetPasswordResponse, *http.Response, error)

	/*
		ResetPasswordWithOTP Reset Password with Phone and OTP

		Resets the Password using OTP and Phone number verification.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiResetPasswordWithOTPRequest
	*/
	ResetPasswordWithOTP(ctx context.Context) ApiResetPasswordWithOTPRequest

	// ResetPasswordWithOTPExecute executes the request
	//  @return ResetPasswordResponse
	ResetPasswordWithOTPExecute(r ApiResetPasswordWithOTPRequest) (*ResetPasswordResponse, *http.Response, error)
}

// PasswordAPIService PasswordAPI service
type PasswordAPIService service

type ApiChangePasswordRequest struct {
	ctx                 context.Context
	ApiService          PasswordAPI
	changePassword      *ChangePassword
	gRecaptchaResponse  *string
	gRecaptchaResponse2 *string
	preventWebhook      *bool
	xPreventWebhook     *bool
	hCaptchaResponse    *string
	qqCaptchaTicket     *string
	qqCaptchaRandstr    *string
	accessToken         *string
}

func (r ApiChangePasswordRequest) ChangePassword(changePassword ChangePassword) ApiChangePasswordRequest {
	r.changePassword = &changePassword
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiChangePasswordRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiChangePasswordRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiChangePasswordRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiChangePasswordRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiChangePasswordRequest) PreventWebhook(preventWebhook bool) ApiChangePasswordRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiChangePasswordRequest) XPreventWebhook(xPreventWebhook bool) ApiChangePasswordRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// hCaptcha Response
func (r ApiChangePasswordRequest) HCaptchaResponse(hCaptchaResponse string) ApiChangePasswordRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

// QQ Captcha ticket (required if Bot Protection is enabled)
func (r ApiChangePasswordRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiChangePasswordRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ Captcha rand string (required if Bot Protection is enabled)
func (r ApiChangePasswordRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiChangePasswordRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

// Access Token of the User
func (r ApiChangePasswordRequest) AccessToken(accessToken string) ApiChangePasswordRequest {
	r.accessToken = &accessToken
	return r
}

func (r ApiChangePasswordRequest) Execute() (*IsPostedResponse, *http.Response, error) {
	return r.ApiService.ChangePasswordExecute(r)
}

/*
ChangePassword Update Password

Updates the Account Password using the current Password for verification.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiChangePasswordRequest
*/
func (a *PasswordAPIService) ChangePassword(ctx context.Context) ApiChangePasswordRequest {
	return ApiChangePasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IsPostedResponse
func (a *PasswordAPIService) ChangePasswordExecute(r ApiChangePasswordRequest) (*IsPostedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IsPostedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.ChangePassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password/change"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.changePassword == nil {
		return localVarReturnValue, nil, reportError("changePassword is required and must be specified")
	}

	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	if r.accessToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.changePassword
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForgotPasswordRequest struct {
	ctx                   context.Context
	ApiService            PasswordAPI
	emailtemplate         *string
	resetpasswordurl      *string
	preventWebhook        *bool
	xPreventWebhook       *bool
	gRecaptchaResponse    *string
	gRecaptchaResponse2   *string
	qqCaptchaTicket       *string
	qqCaptchaRandstr      *string
	hCaptchaResponse      *string
	forgotPasswordRequest *ForgotPasswordRequest
}

// Name of the Email template to use for this notification.
func (r ApiForgotPasswordRequest) Emailtemplate(emailtemplate string) ApiForgotPasswordRequest {
	r.emailtemplate = &emailtemplate
	return r
}

// Callback URL for the Password Reset link in the Email.
func (r ApiForgotPasswordRequest) Resetpasswordurl(resetpasswordurl string) ApiForgotPasswordRequest {
	r.resetpasswordurl = &resetpasswordurl
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiForgotPasswordRequest) PreventWebhook(preventWebhook bool) ApiForgotPasswordRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiForgotPasswordRequest) XPreventWebhook(xPreventWebhook bool) ApiForgotPasswordRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiForgotPasswordRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiForgotPasswordRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiForgotPasswordRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiForgotPasswordRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// QQ reCAPTCHA Response
func (r ApiForgotPasswordRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiForgotPasswordRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ reCAPTCHA Response
func (r ApiForgotPasswordRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiForgotPasswordRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

// hCaptcha Response
func (r ApiForgotPasswordRequest) HCaptchaResponse(hCaptchaResponse string) ApiForgotPasswordRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

func (r ApiForgotPasswordRequest) ForgotPasswordRequest(forgotPasswordRequest ForgotPasswordRequest) ApiForgotPasswordRequest {
	r.forgotPasswordRequest = &forgotPasswordRequest
	return r
}

func (r ApiForgotPasswordRequest) Execute() (*IsPostedResponse, *http.Response, error) {
	return r.ApiService.ForgotPasswordExecute(r)
}

/*
ForgotPassword Forgot Password

Initiates the Password recovery process using Username or Email.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiForgotPasswordRequest
*/
func (a *PasswordAPIService) ForgotPassword(ctx context.Context) ApiForgotPasswordRequest {
	return ApiForgotPasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IsPostedResponse
func (a *PasswordAPIService) ForgotPasswordExecute(r ApiForgotPasswordRequest) (*IsPostedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IsPostedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.ForgotPassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.emailtemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailtemplate", r.emailtemplate, "form", "")
	}
	if r.resetpasswordurl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resetpasswordurl", r.resetpasswordurl, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.forgotPasswordRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRequestOTPForPasswordResetRequest struct {
	ctx                      context.Context
	ApiService               PasswordAPI
	forgotPasswordPhoneModel *ForgotPasswordPhoneModel
	smstemplate              *string
	gRecaptchaResponse       *string
	gRecaptchaResponse2      *string
	hCaptchaResponse         *string
	qqCaptchaTicket          *string
	qqCaptchaRandstr         *string
	isvoiceotp               *bool
}

func (r ApiRequestOTPForPasswordResetRequest) ForgotPasswordPhoneModel(forgotPasswordPhoneModel ForgotPasswordPhoneModel) ApiRequestOTPForPasswordResetRequest {
	r.forgotPasswordPhoneModel = &forgotPasswordPhoneModel
	return r
}

// SMS Template
func (r ApiRequestOTPForPasswordResetRequest) Smstemplate(smstemplate string) ApiRequestOTPForPasswordResetRequest {
	r.smstemplate = &smstemplate
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiRequestOTPForPasswordResetRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiRequestOTPForPasswordResetRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiRequestOTPForPasswordResetRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiRequestOTPForPasswordResetRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// hCaptcha Response
func (r ApiRequestOTPForPasswordResetRequest) HCaptchaResponse(hCaptchaResponse string) ApiRequestOTPForPasswordResetRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

// QQ Captcha ticket (required if Bot Protection is enabled)
func (r ApiRequestOTPForPasswordResetRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiRequestOTPForPasswordResetRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ Captcha rand string (required if Bot Protection is enabled)
func (r ApiRequestOTPForPasswordResetRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiRequestOTPForPasswordResetRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

// Boolean flag to enforce sending SMS content via Voice.
func (r ApiRequestOTPForPasswordResetRequest) Isvoiceotp(isvoiceotp bool) ApiRequestOTPForPasswordResetRequest {
	r.isvoiceotp = &isvoiceotp
	return r
}

func (r ApiRequestOTPForPasswordResetRequest) Execute() (*SMSResponse, *http.Response, error) {
	return r.ApiService.RequestOTPForPasswordResetExecute(r)
}

/*
RequestOTPForPasswordReset Retrieve Password reset OTP

Requests an OTP for resetting the Password using the User's Phone number.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRequestOTPForPasswordResetRequest
*/
func (a *PasswordAPIService) RequestOTPForPasswordReset(ctx context.Context) ApiRequestOTPForPasswordResetRequest {
	return ApiRequestOTPForPasswordResetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SMSResponse
func (a *PasswordAPIService) RequestOTPForPasswordResetExecute(r ApiRequestOTPForPasswordResetRequest) (*SMSResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SMSResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.RequestOTPForPasswordReset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password/otp"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.forgotPasswordPhoneModel == nil {
		return localVarReturnValue, nil, reportError("forgotPasswordPhoneModel is required and must be specified")
	}

	if r.smstemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "smstemplate", r.smstemplate, "form", "")
	}
	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	if r.isvoiceotp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isvoiceotp", r.isvoiceotp, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.forgotPasswordPhoneModel
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetPasswordRequest struct {
	ctx                 context.Context
	ApiService          PasswordAPI
	resetPassword       *ResetPassword
	gRecaptchaResponse  *string
	gRecaptchaResponse2 *string
	preventWebhook      *bool
	xPreventWebhook     *bool
	hCaptchaResponse    *string
	qqCaptchaTicket     *string
	qqCaptchaRandstr    *string
}

func (r ApiResetPasswordRequest) ResetPassword(resetPassword ResetPassword) ApiResetPasswordRequest {
	r.resetPassword = &resetPassword
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiResetPasswordRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiResetPasswordRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiResetPasswordRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiResetPasswordRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordRequest) PreventWebhook(preventWebhook bool) ApiResetPasswordRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordRequest) XPreventWebhook(xPreventWebhook bool) ApiResetPasswordRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// hCaptcha Response
func (r ApiResetPasswordRequest) HCaptchaResponse(hCaptchaResponse string) ApiResetPasswordRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

// QQ Captcha ticket (required if Bot Protection is enabled)
func (r ApiResetPasswordRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiResetPasswordRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ Captcha rand string (required if Bot Protection is enabled)
func (r ApiResetPasswordRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiResetPasswordRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

func (r ApiResetPasswordRequest) Execute() (*ResetPasswordResponse, *http.Response, error) {
	return r.ApiService.ResetPasswordExecute(r)
}

/*
ResetPassword Reset Password with token and OTP

Sets a new Password for the specified Account using a reset token and OTP.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiResetPasswordRequest
*/
func (a *PasswordAPIService) ResetPassword(ctx context.Context) ApiResetPasswordRequest {
	return ApiResetPasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResetPasswordResponse
func (a *PasswordAPIService) ResetPasswordExecute(r ApiResetPasswordRequest) (*ResetPasswordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResetPasswordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.ResetPassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password/reset"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resetPassword == nil {
		return localVarReturnValue, nil, reportError("resetPassword is required and must be specified")
	}

	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.resetPassword
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetPasswordByResetTokenRequest struct {
	ctx                 context.Context
	ApiService          PasswordAPI
	resetPassword       *ResetPassword
	gRecaptchaResponse  *string
	gRecaptchaResponse2 *string
	preventWebhook      *bool
	xPreventWebhook     *bool
	hCaptchaResponse    *string
	qqCaptchaTicket     *string
	qqCaptchaRandstr    *string
}

func (r ApiResetPasswordByResetTokenRequest) ResetPassword(resetPassword ResetPassword) ApiResetPasswordByResetTokenRequest {
	r.resetPassword = &resetPassword
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiResetPasswordByResetTokenRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiResetPasswordByResetTokenRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiResetPasswordByResetTokenRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiResetPasswordByResetTokenRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordByResetTokenRequest) PreventWebhook(preventWebhook bool) ApiResetPasswordByResetTokenRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordByResetTokenRequest) XPreventWebhook(xPreventWebhook bool) ApiResetPasswordByResetTokenRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// hCaptcha Response
func (r ApiResetPasswordByResetTokenRequest) HCaptchaResponse(hCaptchaResponse string) ApiResetPasswordByResetTokenRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

// QQ Captcha ticket (required if Bot Protection is enabled)
func (r ApiResetPasswordByResetTokenRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiResetPasswordByResetTokenRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ Captcha rand string (required if Bot Protection is enabled)
func (r ApiResetPasswordByResetTokenRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiResetPasswordByResetTokenRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

func (r ApiResetPasswordByResetTokenRequest) Execute() (*ResetPasswordResponse, *http.Response, error) {
	return r.ApiService.ResetPasswordByResetTokenExecute(r)
}

/*
ResetPasswordByResetToken Reset Password with token and OTP

Sets a new Password for the specified Account using a reset token and OTP.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiResetPasswordByResetTokenRequest
*/
func (a *PasswordAPIService) ResetPasswordByResetToken(ctx context.Context) ApiResetPasswordByResetTokenRequest {
	return ApiResetPasswordByResetTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResetPasswordResponse
func (a *PasswordAPIService) ResetPasswordByResetTokenExecute(r ApiResetPasswordByResetTokenRequest) (*ResetPasswordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResetPasswordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.ResetPasswordByResetToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resetPassword == nil {
		return localVarReturnValue, nil, reportError("resetPassword is required and must be specified")
	}

	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.resetPassword
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetPasswordSecurityAnswerRequest struct {
	ctx                           context.Context
	ApiService                    PasswordAPI
	preventWebhook                *bool
	xPreventWebhook               *bool
	resetPasswordBySecurityAnswer *ResetPasswordBySecurityAnswer
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordSecurityAnswerRequest) PreventWebhook(preventWebhook bool) ApiResetPasswordSecurityAnswerRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordSecurityAnswerRequest) XPreventWebhook(xPreventWebhook bool) ApiResetPasswordSecurityAnswerRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

func (r ApiResetPasswordSecurityAnswerRequest) ResetPasswordBySecurityAnswer(resetPasswordBySecurityAnswer ResetPasswordBySecurityAnswer) ApiResetPasswordSecurityAnswerRequest {
	r.resetPasswordBySecurityAnswer = &resetPasswordBySecurityAnswer
	return r
}

func (r ApiResetPasswordSecurityAnswerRequest) Execute() (*ResetPasswordResponse, *http.Response, error) {
	return r.ApiService.ResetPasswordSecurityAnswerExecute(r)
}

/*
ResetPasswordSecurityAnswer Reset Password with security question

Resets the Password using a security question and Email, Username, or Phone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiResetPasswordSecurityAnswerRequest
*/
func (a *PasswordAPIService) ResetPasswordSecurityAnswer(ctx context.Context) ApiResetPasswordSecurityAnswerRequest {
	return ApiResetPasswordSecurityAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResetPasswordResponse
func (a *PasswordAPIService) ResetPasswordSecurityAnswerExecute(r ApiResetPasswordSecurityAnswerRequest) (*ResetPasswordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResetPasswordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.ResetPasswordSecurityAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password/securityanswer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.resetPasswordBySecurityAnswer
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetPasswordWithOTPRequest struct {
	ctx                  context.Context
	ApiService           PasswordAPI
	resetPasswordWithOTP *ResetPasswordWithOTP
	gRecaptchaResponse   *string
	gRecaptchaResponse2  *string
	preventWebhook       *bool
	xPreventWebhook      *bool
	hCaptchaResponse     *string
	qqCaptchaTicket      *string
	qqCaptchaRandstr     *string
}

func (r ApiResetPasswordWithOTPRequest) ResetPasswordWithOTP(resetPasswordWithOTP ResetPasswordWithOTP) ApiResetPasswordWithOTPRequest {
	r.resetPasswordWithOTP = &resetPasswordWithOTP
	return r
}

// Google reCAPTCHA response parameter which will be sent to the server for verification.
func (r ApiResetPasswordWithOTPRequest) GRecaptchaResponse(gRecaptchaResponse string) ApiResetPasswordWithOTPRequest {
	r.gRecaptchaResponse = &gRecaptchaResponse
	return r
}

// Google reCAPTCHA Response
func (r ApiResetPasswordWithOTPRequest) GRecaptchaResponse2(gRecaptchaResponse2 string) ApiResetPasswordWithOTPRequest {
	r.gRecaptchaResponse2 = &gRecaptchaResponse2
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordWithOTPRequest) PreventWebhook(preventWebhook bool) ApiResetPasswordWithOTPRequest {
	r.preventWebhook = &preventWebhook
	return r
}

// When true, suppresses webhook events for this operation.
func (r ApiResetPasswordWithOTPRequest) XPreventWebhook(xPreventWebhook bool) ApiResetPasswordWithOTPRequest {
	r.xPreventWebhook = &xPreventWebhook
	return r
}

// hCaptcha Response
func (r ApiResetPasswordWithOTPRequest) HCaptchaResponse(hCaptchaResponse string) ApiResetPasswordWithOTPRequest {
	r.hCaptchaResponse = &hCaptchaResponse
	return r
}

// QQ Captcha ticket (required if Bot Protection is enabled)
func (r ApiResetPasswordWithOTPRequest) QqCaptchaTicket(qqCaptchaTicket string) ApiResetPasswordWithOTPRequest {
	r.qqCaptchaTicket = &qqCaptchaTicket
	return r
}

// QQ Captcha rand string (required if Bot Protection is enabled)
func (r ApiResetPasswordWithOTPRequest) QqCaptchaRandstr(qqCaptchaRandstr string) ApiResetPasswordWithOTPRequest {
	r.qqCaptchaRandstr = &qqCaptchaRandstr
	return r
}

func (r ApiResetPasswordWithOTPRequest) Execute() (*ResetPasswordResponse, *http.Response, error) {
	return r.ApiService.ResetPasswordWithOTPExecute(r)
}

/*
ResetPasswordWithOTP Reset Password with Phone and OTP

Resets the Password using OTP and Phone number verification.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiResetPasswordWithOTPRequest
*/
func (a *PasswordAPIService) ResetPasswordWithOTP(ctx context.Context) ApiResetPasswordWithOTPRequest {
	return ApiResetPasswordWithOTPRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResetPasswordResponse
func (a *PasswordAPIService) ResetPasswordWithOTPExecute(r ApiResetPasswordWithOTPRequest) (*ResetPasswordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResetPasswordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordAPIService.ResetPasswordWithOTP")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/v2/auth/password/otp"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resetPasswordWithOTP == nil {
		return localVarReturnValue, nil, reportError("resetPasswordWithOTP is required and must be specified")
	}

	if r.gRecaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g-recaptcha-response", r.gRecaptchaResponse, "form", "")
	}
	if r.gRecaptchaResponse2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "g_recaptcha_response", r.gRecaptchaResponse2, "form", "")
	}
	if r.preventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prevent_webhook", r.preventWebhook, "form", "")
	}
	if r.hCaptchaResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h-captcha-response", r.hCaptchaResponse, "form", "")
	}
	if r.qqCaptchaTicket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_ticket", r.qqCaptchaTicket, "form", "")
	}
	if r.qqCaptchaRandstr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qq_captcha_randstr", r.qqCaptchaRandstr, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPreventWebhook != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-PreventWebhook", r.xPreventWebhook, "simple", "")
	}
	// body params
	localVarPostBody = r.resetPasswordWithOTP
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ClientId"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("client_id", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
