/*
LoginRadius API

This is a LoginRadius API server. Which you can use to authenticate and manage the user.

API version: 1.0.0
Contact: support@loginradius.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type ShopifySSOAPI interface {

	/*
		GetShopifyLoginUrl Generate Shopify Multipass Login URL

		Generates a Shopify Multipass login URL using the provided LoginRadius access token. Uses Shopify's Multipass feature to create a single sign-on URL that authenticates the user into the Shopify store.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiGetShopifyLoginUrlRequest
	*/
	GetShopifyLoginUrl(ctx context.Context) ApiGetShopifyLoginUrlRequest

	// GetShopifyLoginUrlExecute executes the request
	//  @return ShopifyLoginUrlResponse
	GetShopifyLoginUrlExecute(r ApiGetShopifyLoginUrlRequest) (*ShopifyLoginUrlResponse, *http.Response, error)
}

// ShopifySSOAPIService ShopifySSOAPI service
type ShopifySSOAPIService service

type ApiGetShopifyLoginUrlRequest struct {
	ctx         context.Context
	ApiService  ShopifySSOAPI
	accessToken *string
	store       *string
	returnUrl   *string
}

// Access Token of the User
func (r ApiGetShopifyLoginUrlRequest) AccessToken(accessToken string) ApiGetShopifyLoginUrlRequest {
	r.accessToken = &accessToken
	return r
}

// Shopify store domain (e.g., mystore.myshopify.com)
func (r ApiGetShopifyLoginUrlRequest) Store(store string) ApiGetShopifyLoginUrlRequest {
	r.store = &store
	return r
}

// URL to redirect the user to after login
func (r ApiGetShopifyLoginUrlRequest) ReturnUrl(returnUrl string) ApiGetShopifyLoginUrlRequest {
	r.returnUrl = &returnUrl
	return r
}

func (r ApiGetShopifyLoginUrlRequest) Execute() (*ShopifyLoginUrlResponse, *http.Response, error) {
	return r.ApiService.GetShopifyLoginUrlExecute(r)
}

/*
GetShopifyLoginUrl Generate Shopify Multipass Login URL

Generates a Shopify Multipass login URL using the provided LoginRadius access token. Uses Shopify's Multipass feature to create a single sign-on URL that authenticates the user into the Shopify store.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetShopifyLoginUrlRequest
*/
func (a *ShopifySSOAPIService) GetShopifyLoginUrl(ctx context.Context) ApiGetShopifyLoginUrlRequest {
	return ApiGetShopifyLoginUrlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ShopifyLoginUrlResponse
func (a *ShopifySSOAPIService) GetShopifyLoginUrlExecute(r ApiGetShopifyLoginUrlRequest) (*ShopifyLoginUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ShopifyLoginUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShopifySSOAPIService.GetShopifyLoginUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sso/shopify/api/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessToken == nil {
		return localVarReturnValue, nil, reportError("accessToken is required and must be specified")
	}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "access_token", r.accessToken, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	if r.returnUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_url", r.returnUrl, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XLoginRadiusAPIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LoginRadius-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
